[submodule "playbooks/roles/ansible-role-rtpengine"]
	path = playbooks/roles/ansible-role-rtpengine
	url = git@github.com:davehorton/ansible-role-rtpengine.git
[submodule "playbooks/roles/ansible-role-fsmrf"]
	path = playbooks/roles/ansible-role-fsmrf
	url = git@github.com:davehorton/ansible-role-fsmrf
